:root {
    --main-color: #edf7fb;
    --contrast-color: #77959f;
}

html {
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
}

body {
    background-color: transparent;
    min-height: 100%;
}

.main-color {
    background-color: var(--main-color);
}

nav {
    font-family: 'Amatic SC', cursive;
    height: 8vh;
    background-color: var(--main-color);
    border-bottom: 2px solid white;
}

.nav-item {
    font-size: xx-large;
}

.imgbgcover {
    background: url(../assets/images/LCDE.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-color: var(--main-color);
}

.movie-section {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

.card {
    margin: 1rem;
    font-family: 'Amatic SC', cursive;
    border: 0px;
}

.card-title {
    font-size: x-large;
    text-align: center;
}

.col-sm-7 {
    display: flex;
    align-items: center;
}

.contact-card {
    background-color: white;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align:center;
    overflow: hidden;
}

.btn-warning {
    margin-top: 2rem;
    background-color: var(--main-color);
    border: var(--main-color);
}

.btn-warning:hover {
    background-color: var(--contrast-color);
    border: grey;
}

.rounded-circle {
    margin-bottom: 2rem;
}

.fa:before {
    font-size: xxx-large;
    color: var(--contrast-color);
}

.name-div {
    padding: 2rem;
    background-color: white;
    margin-bottom: 2rem;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  
  .youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }