:root {
    --main-color: #edf7fb;
    --contrast-color: #77959f;
}

html {
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
}

body {
    height: 100vh;
    background-color: transparent;
}

.main-color {
    background-color: var(--main-color);
}

nav {
    font-family: 'Amatic SC', cursive;
    height: 6vh;
}

.nav-item {
    font-size: xx-large;
}

.imgbgcover {
    background: url(../assets/images/LCDE.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-color: var(--contrast-color);
}

.movie-section {
    font-family: 'Lato', sans-serif;
    height: 94vh;
    justify-content: center;
}

.card {
    margin-top: 3rem;
    margin-right: 1rem;
    font-family: 'Amatic SC', cursive;
    border: 0px;
}

.card-title {
    font-size: x-large;
    text-align: center;
}

.col-sm-7 {
    display: flex;
    align-items: center;
}

.contact-card {
    background-color: white;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    text-align:center;
    overflow: hidden;
}

.btn-warning {
    margin-top: 2rem;
    background-color: var(--main-color);
    border: var(--main-color);
}

.btn-warning:hover {
    background-color: var(--contrast-color);
    border: grey;
}

.rounded-circle {
    margin-bottom: 2rem;
}

.fa:before {
    font-size: xxx-large;
    color: var(--contrast-color);
}

.name-div {
    padding: 2rem;
    background-color: white;
}