:root {
    --main-color: #edf7fb;
    --contrast-color: #77959f;
}

html {
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
}

body {
    background-color: transparent;
    min-height: 100%;
}

.main-color {
    background-color: var(--main-color);
}

nav {
    font-family: 'Amatic SC', cursive;
    background-color: var(--main-color);
    border-bottom: 2px solid white;
    margin-bottom: 1vh;
}

.nav-item {
    font-size: xx-large;
}

.imgbgcover {
    background: url(../assets/images/LCDP.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--main-color);
}

.movie-section {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

.card {
    margin: 1rem;
    font-family: 'Amatic SC', cursive;
    border: 0px;
    background-color: var(--main-color);
}

.card-title {
    font-size: x-large;
    text-align: center;
}

.col-sm-7 {
    display: flex;
    align-items: center;
}

.contact-card {
    background-color: white;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    overflow: hidden;
}

.btn-warning {
    margin-top: 2rem;
    background-color: var(--main-color);
    border: var(--main-color);
}

.btn-warning:hover {
    background-color: var(--contrast-color);
    border: grey;
}

.rounded-circle {
    margin-bottom: 2rem;
    width: 20vh;
}

.fa:before {
    font-size: xxx-large;
    color: var(--contrast-color);
}

.name-div {
    padding: 2rem;
    background-color: white;
    margin-bottom: 2rem;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-fluid {
    background-color: var(--main-color);
}

.italic {
    font-style: italic;
}

.contact-icons {
    width: 50%;
    margin: auto;
}

h1 {
    font-size: xx-large;
}

@media (min-width: 1200px){
    .h1, h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 575px){
    .contact-icons {
        width: 100%;
    }
}

@media (max-height: 810px){
    .contact-card {
        margin-top: 20vh;
    }

    p {
        margin-bottom: 0px;
    }
}
